<div class="row mb-3">
  <section class="col-3">
    <div class="mb-3">
      <h5 class="text-info">Search</h5>
      <div class="form">
        <input type="text" class="form-control mb-2" placeholder="Search" />
        <div
          class="btn-group d-flex justify-content-between align-items-center"
        >
          <button class="btn btn-outline-warning mr-2">Reset</button>
          <button class="btn btn-outline-primary">Search</button>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <h5 class="text-info">Sorting</h5>
      <select class="custom-select" name="" id="">
        <option value="" selected>Alphabetical</option>
        <option value="">Price: Low to High</option>
        <option value="">Price: High to Low</option>
      </select>
    </div>

    <div class="mb-3">
      <h5 class="text-info mb-2">Brands</h5>
      <ul class="list-group">
        <li
          *ngFor="let brand of brands"
          [class.active]="brand.id === brandIdSelected"
          [value]="brand.id"
          (click)="onBrandSelected(brand.id)"
          class="list-group-item"
          style="cursor: pointer"
        >
          {{ brand.name }}
        </li>
      </ul>
    </div>

    <div class="mb-3">
      <h5 class="text-info mb-2">Types</h5>
      <ul class="list-group">
        <li
          *ngFor="let type of types"
          [class.active]="type.id === typeIdSelected"
          [value]="type.id"
          (click)="onTypeSelected(type.id)"
          class="list-group-item"
          style="cursor: pointer"
        >
          {{ type.name }}
        </li>
      </ul>
    </div>
  </section>
  <section class="col-9">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <header>
        <span>Showing <strong>10</strong> of <strong>18</strong> Results</span>
      </header>
    </div>

    <div class="row">
      <div *ngFor="let product of products" class="col-lg-4 col-md-6 mb-3">
        <app-product-item [product]="product"></app-product-item>
      </div>
    </div>
  </section>
</div>
